body {
  font-family: $font-family-base;
  font-size: 0.8rem;
  color: $primary;
  #logo {
    width: 9.8rem;
    padding: 10px 0;
  }
  a {
    text-decoration: none;
  }

  p {
    font-weight: 500;
  }

  header {
    border-bottom: 2px solid rgb(232, 232, 232);
    .paris-nav-sm{
      .button-search{
        border: 0;
        &::before {
          @include glyphe;
          content: "\e801";
          font-size: 1.5rem;
        }
      }
    }
    .paris-nav-inline {
      font-weight: 600;
      font-size: 1rem;
    }
    .paris-nav-list {
      padding: 1.3rem 1.5rem;
      &:hover {
        border-top: 5px solid $primary;
      }
    }
    .nav-list-search {
      padding: 0.45rem 1.5rem;
      width: 11rem;
      button{
        @include buttonSlide($bgColor: rgb(229, 229, 229), $color: $primary, $fontSize: 0.9rem, $fontWeight: 600, $padding: 12px 8px);
        &::before{
          @include glyphe;
          content: "\e801";
        }
      }
       
      
   
    }
    .my-paris {
      padding: 0 1.5rem;
      &::before {
        @include glyphe;
        content: "\e803";
      }
    }
  }

  main {
    .paris-tabs {
      font-size: 0.8em;
      font-weight: 800;
    }
    .paris-article {
      .paris-article-content {
        position: relative;

        .paris-tag-article {
          padding: 8px 20px;
          font-size: 0.7rem;
          font-weight: 800;
        }
      }
    }
    .article-primary {
      h2 {
        font-weight: 900;
      }
      .paris-article-content {
        padding: 0 3rem;
        margin-right: 1.5rem;
        margin-top: -3rem;
      }
      .paris-tag-article {
        margin: -1.2rem 0 0.4rem 1rem;
      }
    }
    .article-secondary {
      margin: 2.5rem;
      h3 {
        font-size: 1rem;
        font-weight: 800;
      }
      .paris-article-content {
        padding: 0 1rem;
      }
      .paris-tag-article {
        margin: -1.2rem 0 0.4rem 0;
      }
    }

    .paris-access {
      font-weight: 700;
      margin-top: 1.5rem;
      h2 {
        font-size: 1.3rem;
        font-weight: 700;
      }
      .paris-access-nav {
        font-size: 0.6rem;
        .paris-li-access {
          background-color: rgb(231, 231, 231);
          padding: 2px;
          margin: 10px 0;
          &:hover {
            background-color: lighten(rgb(231, 231, 231), 10%);
          }
          &::before {
            @include glyphe;
            content: "\e804";
            color: $info;
            font-size: 1rem;
          }
        }
        button {
          margin-top: 10px;
          @include buttonSlide($fontSize: 0.8rem, $fontWeight: 600);
        }
      }
      .services {
        padding: 0 60px;
        .service-list {
          padding: 20px 0;
          font-weight: normal;
          &:hover {
            border-top: 2px solid $primary;
          }
        }
      }
    }

    .paris-telex-article {
      border-bottom: 0.1rem solid #e8e8e8;
      margin-top: 1.5rem;
      h2 {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .zoom-img {
      overflow: hidden;
      max-width: 100%;

      img {
        max-width: 100%;

        &:hover {
          transform: scale(1.2);
          transition: transform 0.2s ease;
          padding: 0;
        }
      }
    }
  }

  footer {
    max-width: 100%;
    .footer-logo {
      width: 10rem;
      height: auto;
    }

    .footer-extra-item {
      border-right: 2px solid rgb(221, 221, 221);
      padding: 0px 10px;
      p {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 0;
      }
      button {
        @include buttonSlide;
      }
    }

    .footer-newsletter {
      background-color: $primary;
      padding: 20px 40px;
      form {
        .footer-form-label {
          @include hideSR;
        }
        button {
          margin: 15px;
          @include buttonSlide(
            $bgColor: $danger,
            $color: $light,
            $colorHover: $danger,
            $padding: 15px 18px
          );
        }
      }
      a {
        color: $light;
        font-size: 1rem;
        margin: 0 15px;
        &:hover {
          color: $danger;
        }
      }
      .facebook::before {
        @include glyphe;
        content: "\e805";
      }
      .twitter::before {
        @include glyphe;
        content: "\f303";
      }
      .instagram::before {
        @include glyphe;
        content: "\f16d";
      }
      .linkedin::before {
        @include glyphe;
        content: "\f318";
      }
      .youtube::before {
        @include glyphe;
        content: "\f16a";
      }
      button {
        @include buttonSlide($fontSize: 0.8rem);
      }
    }
    .footer-contact {
      padding: 2rem;
      a {
        padding: 10px;
        font-weight: 700;
        font-size: 0.7rem;
        &:hover {
          color: $danger;
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .paris-nav-inline,
  .paris-access,
  .paris-telex {
    @include hideSR;
  }
}

@media (min-width: 800px) {
  /* a partir de 800px */

  .header-button-menu,
  .paris-tabs {
    @include hideSR;
  }
  .article-secondary {
    margin: 1.2rem !important;
  }

  .footer-contact{
    margin-top: -6.5rem;
  }
}
