@mixin hideSR {
  clip: rect (1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
}

@mixin buttonSlide(
  $color: $danger,
  $colorHover: $light,
  $fontSize: 0.6rem,
  $bgColor: transparent,
  $padding: 5px 8px,
  $fontWeight: 800
) {
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color !important;
  border: 0;
  border-radius: 0;
  padding: $padding;
  background-color: $bgColor;
  &:hover {
    box-shadow: $color 180px 0 0 1px inset;
    color: $colorHover !important;
  }
}

@mixin glyphe {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 0.8em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
